@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#141414] text-white      ;
  }
  header {
    @apply fixed top-0 z-50 flex w-full items-center justify-between 
    px-4 py-4 transition-all lg:px-10 lg:py-6;
  }
}
@layer components {
  .headerLink {
    @apply cursor-pointer text-sm font-light text-white
    transition duration-[.4s]  ;
    
  }
  .bannerButton {
    @apply flex items-center gap-x-2 rounded px-5 py-1.5 text-sm font-semibold transition
    hover:opacity-75 md:py-2.5 md:px-8 md:text-xl;
  }
  .input {
    @apply w-full rounded bg-[#333333] px-5 py-3.5 placeholder-[gray] outline-none focus:bg-[#454545];
  }
  .bannerButton {
    @apply flex items-center gap-x-2 rounded px-5 py-1.5 text-sm font-semibold transition hover:opacity-75 md:py-2.5 md:px-8 md:text-xl;
  }
  .modalButton {
    @apply flex h-11 w-11 items-center justify-center rounded-full border-2 border-[gray] bg-[#2a2a2a]/60 transition hover:border-white hover:bg-white/10;
  }
}
::-webkit-scrollbar{
  width: 13px;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(212, 9, 9);
  border-radius: 10px;
  width: 1px;
}
::-webkit-scrollbar-thumb:hover{
  background-color: rgb(237, 19, 19);
  border-radius: 10px;
}
::-webkit-scrollbar-track{
  background-color: transparent;

}


.backdrop {
  /* position: absolute; */
  --extended-by: 120px;
  bottom: calc(-1 * var(--extended-by));
  /* Mask out the part falling outside the new */
  --cutoff: calc(100% - var(--extended-by));
  -webkit-mask-image: linear-gradient(
    to bottom,
    black 0,
    black var(--cutoff),
    transparent var(--cutoff)
  );
  --blur: 15px;
  -webkit-backdrop-filter: blur(var(--blur));
  backdrop-filter: blur(var(--blur))
}